.site {
	background: #fff;
	max-width: 1440px;
	margin: 0 auto;
}

.container {
	width: 1140px;
	margin-left: auto;
	margin-right: auto;
}

.site-content {
	padding: 0 0 70px;

	.home &,
	.page-template-landing & {
		padding-bottom: 0;
	}
}

.content-area {
	float: left;
	width: 63%;
}

.site-content .widget-area {
	float: right;
	width: 30%;
}

.site-footer {
	clear: both;
}

// Center page
.page .content-area {
	margin: 0 auto;
	float: none;
}

@media (max-width: 1279px) {
	.container {
		width: 980px;
	}
}
@media (max-width: 1023px) {
	.container {
		width: 100%;
		padding-left: 15px;
		padding-right: 15px;
	}
	.content-area,
	.site-content .widget-area {
		float: none;
		width: 100%;
	}
	.site-content .widget-area {
		margin-top: 60px;
	}
}
