.button,
button,
input[type="submit"] {
	display: inline-block;
	border: 1px solid $color__link;
	border-radius: 4px;
	background: $color__link;
	color: #fff;
	line-height: 1;
	padding: 14px 18px;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
	white-space: nowrap;
	transition: all .2s;

	&:hover {
		text-decoration: none;
		opacity: .9;
	}
}
.button {
	text-decoration: none;

	&:visited {
		color: #fff;
	}

	&--block {
		display: block;
		width: 100%;
	}
	&--gray {
		background: #ddd;
		border-color: #ddd;
		color: $color__background-button !important;

		&:visited {
			color: $color__background-button;
		}
	}
	&--outline {
		border-color: #fff;
		background: transparent;

		&:hover {
			color: #fff;
			background: rgba(255, 255, 255, .1);
		}
	}
	&--outline-dark {
		color: $color__background-button;
		background: transparent;

		&:visited {
			color: $color__background-button;
		}

		&:hover {
			color: #fff;
			background: $color__background-button;
		}
	}
}

a.button.button {
	color: #fff;
}
