input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
textarea {
	color: $color__text-input;
	border: 1px solid $color__border-input;
	border-radius: 4px;
	padding: 12px 18px;
}
input[type="search"] {
	-webkit-appearance: textfield;
}
select {
	border: 1px solid $color__border-input;
}

textarea {
	width: 100%;
}

input[type="checkbox"],
input[type="radio"] {
	margin-right: 5px;
	position: relative;
	top: 1px;
}