.site-footer {
	padding: 70px 0;
	@include font-size(1.4);
	border-top: 1px solid $color__border-input;

	.widget-title {
		margin-bottom: 20px;
	}

	.wp-block-social-links {
		margin-bottom: 10px;
	}
}

.site-info {
	margin-top: 20px;
	padding-top: 20px;
	border-top: 1px solid $color__border-input;
	@include font-size(1.3);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.company {
	display: block;

	img {
		display: inline-block;
	}
}

.credit a {
	color: inherit;
}

@media (max-width: 767px) {
	.site-info {
		display: block;
		text-align: center;

		>*+* {
			margin-top: 15px;
		}
	}
}