.top-bar,
.site-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

/**
 * Top Bar
 */
.top-bar {
	background: $color__background-gray;
	padding: 12px 15px;
}

.top-bar-navigation {
	display: flex;
	align-items: center;

	.search-form {
		margin-right: 20px;
		width: 250px;
	}

	.search-field {
		padding: 8px 12px;
		font-size: 12px;
	}
}

/**
 * Site Branding
 */
.site-header {
	padding: 15px;
	position: sticky;
	top: 0;
	box-shadow: 0 2px 4px rgba(0, 0, 0, .05);
	background: #fff;
	z-index: 9;
}

.site-title {
	font-family: "Roboto Slab", sans-serif;
	font-weight: bold;
	@include font-size(3);
	letter-spacing: -1px;
	margin: 0;


	a {
		color: #000;
		text-decoration: none;
		display: flex;
		align-items: center;
	}

	svg {
		margin-right: 7px;
	}
}

.site-description {
	display: none;
}

@media (max-width: 767px) {
	#menu-top-bar-left .menu-item:nth-child(n+2) {
		display: none;
	}
}

@media (max-width: 1023px) {
	.top-bar .search-form {
		display: none;
	}
}