p,
blockquote,
address {
	margin: 0 0 1.7em;
}

pre, code {
	font-size: 14px;
	font-family: $font__mono;
}
pre, code {
    font-size: 14px;
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
body.bbpress #bbpress-forums code,
body.bbpress #bbpress-forums pre {
    font-size: 13px;
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
pre {
	padding: 16px;
	margin: 0 0 1.7em;
	tab-size: 4;
	white-space: pre;
	border-radius: 6px;
	background: #f8f8f8;
	line-height: 1.5;
}
pre.hljs {
	background: #f8f8f8;
}
body.bbpress #bbpress-forums pre {
	padding: 16px;
    max-width: none;
    border: none;
}
body.bbpress #bbpress-forums code {
    background: none;
    border: none;
}