h1, h2, h3, h4 {
	clear: both;
	line-height: 1.2;
	margin: 2.5em 0 1em;
	font-family: "Roboto Slab", sans-serif;;

	&:first-child {
		margin-top: 0;
	}
}
h2 {
	@include font-size(2.4);
}
.site h3 {
	font-family: inherit;
	@include font-size(1.6);
	text-transform: uppercase;
}
