html {
	font-size: 10px;
}
body {
	color: $color__text-main;
	font-family: $font__main;
	@include font-size(1.6);
	line-height: $font__line-height-body;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@import "headings";

@import "copy";
