.site-content .widget-area {
	@include font-size(1.4);
}

.widget {
	margin-bottom: 50px;

	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}

	ul {
		list-style: none;
		padding: 0;
		margin: 0;
	}

	li {
		margin-bottom: 5px;
	}

	a {
		color: inherit;
	}
}

.sidebar li {
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #e6e6e6;
	line-height: 1.4;
}

.widget-title {
	margin-bottom: 20px;
}

.search-form {
	.search-field {
		border-radius: 4px;
		width: 100%;
	}

	.search-submit {
		display: none;
	}
}

#subscribe-email input {
	width: 100%;
}