html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	background: $color__background-body;
}

blockquote,
q {
	margin: 0 0 1.5em;
	padding-left: 1.5em;
	border-left: 4px solid $color__border-input;

	quotes: """";

	&:before,
	&:after {
		content: "";
	}
}

hr {
	background-color: $color__background-hr;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

@import "lists";

img {
	height: auto;
	max-width: 100%;
}

figure {
	margin: 1em 0;
}

@import "tables";

.is-hidden {
	display: none;
}

.gist {
	-moz-tab-size: 4;
	tab-size: 4;
}