table {
	margin: 0 0 1.5em;
	width: 100%;
	@include font-size(1.6);
}
th,
td {
	border-bottom: 1px solid $color__border-input;
	padding: 5px 20px 5px 0;
	text-align: left;

	&:last-child {
		padding-right: 0;
	}
}
th {
	border-width: 0 0 3px 0;
}
