$color__dark: #2c3e50;
$color__text-main: #2c3e50;
$color__background-gray: #f6f6f6;
$color__link: #00b1b3;
$color__border-input: #ddd;

$color__background-body: #e6e6e6;
$color__background-screen: $color__background-gray;
$color__background-hr: $color__border-input;

$color__background-pre: $color__background-gray;

$color__text-screen: $color__link;
$color__text-input: $color__text-main;

$color__background-button: $color__dark;
$color__border-button: $color__dark;
