.header-navigation {
	text-transform: uppercase;
	font-weight: bold;

	.menu-item {
		display: inline-block;
		position: relative;

		&:hover > a {
			color: $color__link;
		}
	}
	a {
		color: inherit;
		text-decoration: none;
	}
}
.menu {
	padding: 0;
	margin: 0;
	list-style: none;
}
.current-menu-item > a,
.current-menu-ancestor > a {
	color: $color__link;
}
.menu-item-has-children > a:after {
	content: "";
	display: block;
	border: 4px solid transparent;
	border-top-color: inherit;
	position: absolute;
	right: -11px;
	top: 50%;
	margin-top: -1px;
}

/**
 * Top bar menu
 */
.top-bar-navigation {
	@include font-size(1.1);

	.menu-item + .menu-item {
		margin-left: 20px;
	}
}

/**
 * Main menu
 */
.main-navigation {
	@include font-size(1.4);

	> .menu > .menu-item + .menu-item {
		margin-left: 30px;
	}

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			background: #fff;
			box-shadow: 0 3px 10px 0 rgba(0, 0, 0, .1);
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;

			@include font-size(1.1);

			a {
				width: 160px;
				padding: 10px;
				border-bottom: 1px solid rgba(0, 0, 0, .05);
			}
		}
	}

	li:hover > ul {
		left: auto;
	}

	a {
		display: block;
		text-decoration: none;
		padding: 10px 0;
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}
.menu-toggle {
	padding: 10px;
}
@media screen and (min-width: 1024px) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}
.toggled {
	> .menu {
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
		z-index: 9;
		background: $color__background-gray;
	}
	.menu-item {
		display: block;
	}
	> .menu .menu-item + .menu-item {
		margin: 0;
	}
	a {
		padding-left: 10px;
		padding-right: 10px;
		border-bottom: 1px solid rgba(0, 0, 0, 0.05);
	}
	.menu-item-has-children > a:after {
		display: none;
	}
	ul ul {
		position: relative;
		box-shadow: none;
		background: #f0f0f0;
		text-indent: 20px;
		top: initial;
		left: initial;

		a {
			width: 100%;
		}
	}
}

.posts-navigation {
	font-family: inherit;
	@include font-size(1.6);
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: bold;
	overflow: hidden;
	margin-bottom: 30px;

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
.comment-navigation,
.post-navigation {
	display: none;
}

// Download button
.button--menu {
	padding: 0;
}
.main-navigation .button--menu a {
	padding: 14px 18px;
	color: #fff;
}
.main-navigation.header-navigation .button--menu:hover > a {
	color: #fff;
}
