.card {
	background: #fff;

	&__image {
		display: block;
		position: relative;

		img {
			display: block;
			width: 100%;
		}
	}
	&__block {
		padding: 30px;
	}
	&__title {
		margin-top: 0;
	}
	&__text p {
		margin-bottom: 0;
	}
}
