.grid {
	display: grid;
	grid-gap: 30px;

	&--collapse {
		grid-gap: 0;
	}

	&--center {
		align-items: center;
	}
}
@media(min-width: 768px) {
	.grid--2,
	.grid--3,
	.grid--4 {
		grid-template-columns: repeat(2, 1fr);
	}
}
@media(min-width:1024px) {
	.grid--3 {
		grid-template-columns: repeat(3, 1fr);
	}
	.grid--4 {
		grid-template-columns: repeat(4, 1fr);
	}
}
