#bbpress-forums {
	line-height: 1.7;
}

#bbpress-forums div.bbp-topic-content img,
#bbpress-forums div.bbp-reply-content img {
	width: auto;
}

.bbp-search .page-header p,
.forum-archive .page-header p {
	display: none;
}

.bbpress {
	.bbp-topic-title {
		@include font-size(1.6);
	}

	#bbpress-forums,
	#bbpress-forums ul.bbp-lead-topic,
	#bbpress-forums ul.bbp-topics,
	#bbpress-forums ul.bbp-forums,
	#bbpress-forums ul.bbp-replies,
	#bbpress-forums ul.bbp-search-results,
	div.bbp-template-notice p {
		@include font-size(1.4);
	}

	#bbpress-forums .bbp-forum-info .bbp-forum-content,
	#bbpress-forums p.bbp-topic-meta {
		@include font-size(1.2);
	}

	#bbpress-forums p.bbp-topic-meta img.avatar,
	#bbpress-forums ul.bbp-reply-revision-log img.avatar,
	#bbpress-forums ul.bbp-topic-revision-log img.avatar,
	#bbpress-forums div.bbp-template-notice img.avatar,
	#bbpress-forums .widget_display_topics img.avatar,
	#bbpress-forums .widget_display_replies img.avatar {
		margin-bottom: 0;
		border: none;
		vertical-align: middle;
	}

	.entry-content .bbp-search-form {
		display: none;
	}

	#bbpress-forums .status-closed {
		color: inherit;
	}

	#bbpress-forums .status-closed a {
		color: inherit;
	}

	#bbpress-forums li.bbp-header {
		background: $color__dark;
		border-color: $color__dark;
		color: #fff;
	}

	.widget_display_topics div {
		@include font-size(1.2);
		margin-bottom: 10px;
	}

	#subscription-toggle {
		visibility: hidden;

		>span {
			visibility: visible;
		}
	}
}

// Search form.
#bbp_search {
	width: 100%;
	border-radius: 4px;
}

#bbp_search_submit {
	display: none;
}

// Topic list
.archive .bbp-topic-permalink,
.single-forum .bbp-topic-permalink,
.bbp-search .bbp-topic-permalink {
	display: block;
	color: inherit;
	font-weight: 600;
	line-height: 1.2;
}

#bbpress-forums p.bbp-topic-meta {
	color: #999;
	margin: 10px 0 0;

	a {
		color: #999;
	}
}

.bbp-body .bbp-topic-freshness {
	font-size: 1.2rem;

	a {
		color: inherit;
	}
}

#bbpress-forums li.bbp-body ul.forum,
#bbpress-forums li.bbp-body ul.topic {
	padding: 15px 8px;
}

.bbp-topic-voice-count {
	display: none;
}

li.bbp-forum-info,
li.bbp-topic-title {
	width: 65%;
}

#bbpress-forums div.odd,
#bbpress-forums ul.odd {
	background: none;
}

.bbpress #bbpress-forums li.bbp-header {
	background: #eee;
	border-color: #eee;
	color: inherit;
}

.subscription-toggle {
	color: inherit;
	float: right;
	@include font-size(1.2);
}

.post-type-archive-forum .bbp-breadcrumb,
.bbp-breadcrumb-home,
.bbp-breadcrumb-sep:first-of-type,
.bbp-breadcrumb~.bbp-template-notice,
.bbp-pagination,
.bbp-footer {
	display: none;
}

.bbp-pagination~.bbp-pagination {
	display: block;
	float: none;
	overflow: hidden;
}

.bbp-pagination-links a,
.bbp-pagination-links span.current {
	border-radius: 3px;
	padding: 0 10px;
	color: inherit;
	transition: all .3s;
}

.bbp-pagination-links a:hover {
	text-decoration: none;
}

.bbp-topics,
.bbp-replies {
	border-radius: 4px;
}

.bbp-topic-pagination {
	margin: 3px 0 0 0;
	float: right;

	a {
		padding: 1px 6px;
		border-radius: 2px;
		transition: all .2s;
		color: inherit;

		&:hover {
			text-decoration: none;
			background: #ddd;
		}
	}
}

/* New post form */
#bbp_topic_title {
	width: 100%;
	padding: 6px;
}

#qt_bbp_reply_content_toolbar .button,
#qt_bbp_topic_content_toolbar .button {
	border: none;
	box-shadow: none;
}

#new-post select {
	padding: 5px;
	width: 150px;
}

#bbpress-forums #bbp_topic_subscription {
	margin-right: 5px;
}

.bbp-topic-form,
.bbp-reply-form,
.bbp-topic-tag-form {
	margin-top: 60px;
}

.bbpress #bbpress-forums .bbp-form {
	border: none;
	padding: 0;
}

.bbpress #bbpress-forums .bbp-form legend {
	padding: 0;
	@include font-size(2);
	font-weight: bold;
	margin-bottom: .5em;
}

.bbp-form legend {
	font-family: "Roboto Slab", sans-serif;
}

/* Single topic */
.bbp-lead-topic {
	border-radius: 4px;
}

.bbp-topic-author a,
.bbp-reply-author a {
	color: inherit;
}

.bbp-author-avatar img {
	border-radius: 50%;
}

.bbp-topic-author .bbp-author-name,
.bbp-reply-author .bbp-author-name {
	word-wrap: break-word;
	font-weight: bold;
	line-height: 1.15;
}

.bbp-author-role {
	margin-top: 5px;
	font-style: normal !important;
	font-size: 12px !important;
}

.bbp-topic-ip,
.bbp-reply-ip {
	display: none;
}