.comments-area {
	margin-top: 60px;
}

.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}

.comment-list {
	font-size: 16px;
	list-style: none;
	margin-left: 0;

	.children {
		margin-left: 2em;
		list-style: none;
	}
}

.comment {
	margin-top: 2em;
}

.comment-meta {
	margin-bottom: 1em;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.comment-author {
	display: flex;
	align-items: center;

	.avatar {
		border-radius: 99px;
		margin-right: 10px;
	}
}

.says {
	display: none;
}

.comment-metadata {
	font-size: 12px;

	a {
		color: rgba(0, 0, 0, .2);
	}
}

.comment-form {
	p {
		margin-bottom: 15px;
	}

	label {
		display: block;
		margin-bottom: 3px;
		font-weight: 700;
	}
}

.comment-subscription-form label {
	display: inline-block;
	font-weight: 400;
}