.home {
	.site-footer {
		border-top: none;
	}
}
.section {
	padding: 70px 0;

	&__title {
		@include font-size(3.6);
	}
	&__description {
		@include font-size(2);
	}

	&--alt {
		background: $color__background-gray;
	}
	&--center {
		text-align: center;
	}
}
.hero {
	position: relative;
	padding: 70px 0 50px;
	background:
		linear-gradient(
			rgba(44, 62, 80, .8),
			rgba(44, 62, 80, .8)
		),
		url(https://i0.wp.com/metabox.io/wp-content/themes/rooster/images/hero-background.png);
	color: #fff;
	height: 625px;

	&__text {
		width: 45%;
	}
	&__image {
		position: absolute;
		top: 70px;
		right: 0;
	}
	h2 {
		margin: 60px 0 20px;
		@include font-size(4.8);
	}
	h3 {
		margin: 0 0 40px;
		@include font-size(2.4);
		font-weight: 300;
		line-height: $font__line-height-body;
		text-transform: none;
		letter-spacing: normal;

		strong {
			font-weight: 600;
		}
	}
}
.intro {
	&__more {
		@include font-size(1.6);
		font-weight: bold;
		text-transform: uppercase;
		letter-spacing: 1px;
	}
	&__arrow {
		line-height: 1;
		svg {
			fill: currentColor;
			width: 12px;
			height: 12px;
			animation: moving 1s infinite;
		}
	}
}
.jump {
	color: $color__link;
	cursor: pointer;
}
@keyframes moving {
	0%   { transform: translate3d(0, -5px, 0); }
	100% { transform: translate3d(0, 5px, 0); }
}
.rating {
	svg {
		fill: #F4D03F;
		width: 64px;
		height: 64px;
		display: inline-block;
	}
	&__block {
		display: inline-block;
		vertical-align: top;

		&--first {
			margin-left: 60px;
		}
		&--second {
			margin-left: 30px;
		}
	}
	&__title {
		@include font-size(5);
		font-weight: bold;
		line-height: 1;
		margin-bottom: 10px;
	}
	&__subtitle {
		text-transform: uppercase;
	}
}
.stat {
	svg {
		width: 36px;
		height: 36px;
		fill: $color__link;
		transition: all .3s;
	}
	&__icon {
		border: 2px solid $color__link;
		width: 90px;
		height: 90px;
		border-radius: 50%;
		margin: 0 auto;
		display: flex;
		align-items: center;
		justify-content: center;
		transition: all .3s;
	}
	&__title {
		@include font-size(2);
		margin-top: 1.5em;
	}
	&:hover {
		.stat__icon {
			background: $color__link;
		}
		svg {
			fill: #fff;
		}
	}
}
.features {
	position: relative;

	&__text {
		float: left;
		width: 52%;
		padding-right: 40px;
	}
	&__title {
		margin-bottom: 30px;
	}
	&__subtitle.features__subtitle {
		text-transform: initial;
		@include font-size(2);
		font-weight: normal;
		margin: 0 0 30px;
		line-height: 1.4;
	}
	&__description {
		font-style: italic;
		@include font-size(1.7);
	}
	&__image {
		float: right;
		margin-right: -150px;
		box-shadow: 0 10px 80px rgba(0, 0, 0, .1);

		img {
			display: block;
			width: 100%;
		}
	}
	&__block {
		margin-top: 0;
	}

	&--alt {
		.features__text {
			float: right;
			padding-right: 0;
			padding-left: 40px;
		}
		.features__image {
			float: left;
			margin-left: -150px;
			margin-right: auto;
		}
		.browser-bar {
			border-radius: 0 4px 0 0;

			&:before,
			&:after,
			span {
				top: 11px;
				left: auto;
				right: 8px;
			}
			span {
				right: 20px;
			}
			&:after {
				right: 32px;
			}
		}
	}
}
.feature {
	&__title {
		margin-top: 1em;
	}
	&__description {
		margin: 0;
		@include font-size(1.7);
	}
}
.browser-bar {
	background: #fff;
	height: 30px;
	border-radius: 4px 0 0 0;
	border-bottom: 1px solid rgba(0, 0, 0, .05);
	position: relative;

	&:before,
	&:after,
	span {
		display: inline-block;
		position: absolute;
		top: 11px;
		left: 8px;
		content: '';
		width: 9px;
		height: 9px;
		border-radius: 50%;
		background: #e1e1e1;
	}
	span {
		background: #6fd2a0;
		left: 20px;
	}
	&:after {
		background: #ff8080;
		left: 32px;
	}
}
.cta {
	background: $color__dark;
	color: #fff;

	> .container {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__heading {
		margin-bottom: 0;
		@include font-size(3);
	}
	.button {
		white-space: nowrap;
	}
}
.subscription {
	> .container {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&__heading {
		margin-bottom: 0;
		@include font-size(2);
	}
	form {
		display: flex;
	}
	.widgettitle,
	p {
		margin: 0;
	}
	input {
		border-right: 0;
		border-radius: 4px 0 0 4px;
	}
	button {
		border-radius: 0 4px 4px 0;
	}
}
.testimonial {
	&__image {
		border-radius: 50%;
	}
	&__text {
		@include font-size(1.7);
	}
	&__author {
		font-style: italic;
	}
}
.extensions {
	&__button {
		margin-bottom: 60px;
	}
	.card {
		box-shadow: 0 10px 80px rgba(0, 0, 0, 0.1);
		text-align: left;
	}
}
@media (max-width: 1439px) {
	.hero {
		&__image {
			max-width: 50%;
		}
	}
	.features {
		&__image {
			max-width: 48%;
			margin-right: 0;
		}
		&--alt .features__image {
			margin-left: 0;
		}
	}
}
@media (max-width: 1279px) {
	.hero {
		h2 {
			margin-top: 40px;
		}
	}
}
@media (max-width: 1023px) {
	.hero {
		text-align: center;
		height: auto;
		padding-top: 50px;

		&__text {
			width: 100%;
		}
		&__image {
			max-width: none;
			margin-top: 30px;
			position: relative;
			top: auto;
			right: auto;
		}
	}
	.features {
		&__text {
			float: none;
			width: 100%;
			padding: 0;
		}
		&__image {
			margin: 60px auto 0;
			max-width: none;
			width: auto;
			display: inline-block;
		}
		&__title {
			@include font-size(2.4);
		}
		&__description {
			@include font-size(1.8);
		}

		&--alt .features__text {
			padding: 0;
			float: none;
		}
	}
	.cta,
	.subscription{
		text-align: center;

		> .container {
			display: block;
		}
		&__heading {
			@include font-size(2.4);
			max-width: none;
			margin-bottom: 30px;
		}
		form {
			display: block;
		}
		input, button {
			display: block;
			width: 100%;
			margin-bottom: 10px;
		}
	}
}
@media (max-width: 767px) {
	.hero {
		h2 {
			margin-top: 0;
			@include font-size(3.6);
		}
		h3 {
			@include font-size(1.8);
		}
		p {
			margin-bottom: 0;
		}
	}
	.rating__block {
		&--first, &--second {
			margin: 10px 0 0;
			width: 100%
		}
	}
}
