.post-type-archive-product,
.tax-product_category {
	.site-content {
		background: $color__background-gray;
	}
	.page-header {
		text-align: center;
	}
}
.post-type-archive-product {
	.popular .card__image:before,
	.free .card__image:before,
	.third-party .card__image:before {
		display: inline-block;
		position: absolute;
		right: 10px;
		top: 10px;
		font-size: 12px;
		font-weight: bold;
		text-transform: uppercase;
		padding: 4px 12px;
		border-radius: 3px;
	}
	.free .card__image:before {
		content: 'Free';
		background: #28a745;
		color: #fff;
	}
	.third-party .card__image:before {
		content: '3rd Party';
		background: #e8a017;
		color: #fff;
	}
	.popular .card__image:before {
		content: '★ Popular';
		background: #f4d03f;
		color: initial;
	}
}
.filter {
	list-style: none;
	margin: 0 0 70px;
	padding: 0;
	text-align: center;

	li {
		display: inline-block;
		background: $color__border-input;
		padding: 4px 10px;
		border-radius: 3px;
		@include font-size(1.8);
		cursor: pointer;

		&:hover {
			background: #ccc;
		}

		+ li {
			margin-left: 15px;
		}
	}
}

/**
 * Single product sidebar
 */
.purchase {
	background: $color__background-gray;
	padding: 20px;
	border-radius: 4px;
	margin-bottom: 70px;

	&__price {
		font-weight: bold;
		@include font-size(3.6);
		float: right;
		margin-left: 10px;
		line-height: 1.2;
		text-align: right;

		sup {
			font-weight: normal;
			@include font-size(2);
		}

		&__old {
			color: #aaa;
			font-weight: 400;
			font-size: 18px;

			sup {
				font-size: 1em;
				top: 0;
			}
		}
	}
	& &__terms {
		margin-bottom: 30px;
	}
	li {
		padding-left: 20px;
		position: relative;
	}
	svg {
		width: 12px;
		height: 12px;
		fill: #00b1b3;
		position: absolute;
		top: 8px;
		left: 0;
	}
	&__bundle {
		margin-top: 70px;
		position: relative;

		.purchase__terms {
			margin-bottom: 62px;
		}
	}
	&__badge {
		position: absolute;
		top: -38px;
		right: 0;
	}
	&__docs {
		margin-top: 30px;
		border-top: 1px solid $color__border-input;
		padding-top: 30px;
	}
}
.badge {
	display: inline-block;
	text-transform: uppercase;
	font-size: .75em;
	border-radius: 2px;
	font-weight: bold;
	letter-spacing: .02em;
	background: #28a745;
	padding: .25em .4em;
	margin-top: 16px;

	svg {
		width: 1em;
		height: 1em;
		fill: #f4d03f;
		display: inline-block;
		position: relative;
		top: 2px;
	}
}

.detail {
	display: flex;
	justify-content: space-between;

	+ .detail {
		margin-top: 10px;
	}
}

.related .card__block {
	padding: 20px 0 30px;
}